/cover/
/.fetch
*.ez
elixir_koans-*.tar
/_build
/deps
/doc
/tmp
/node_modules
/assets/node_modules
/installer/_build
/installer/tmp
/installer/doc
/installer/deps
/priv/static/
/config/prod.secret.exs
/rel
erl_crash.dump
